<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/assets/hero.css" />
  </head>
  <body>
    <section class="hero" style="background-color: #ede7f4; height: 600px">
      <div class="hero-container">
        <!-- left side or text section  -->
        <div class="hero-content">
          <div class="ticker-text">
            <i class="fa-regular fa-circle-check"></i>
            <span>Your upskilling partner</span>
          </div>
          <h1>
            Land your <span> dream job </span> by learning from the top 1%
          </h1>
          <p>
            Take your learning organization to the next level. to the next
            level. Who'll share their knowledge to people around in India.
          </p>
          <button class="view-all-course-btn">
            View All Courses
          </button>
          <!-- Moved .hero-stats below the button -->
          <div class="placement-box">
            <div class="item-box">
              <i
                class="fa-solid fa-briefcase"
                style="font-size: 2rem; color: #3d088b"
                aria-hidden="true"
              ></i>
              <div>
                <h5>92%</h5>
                <p>Job Placement</p>
              </div>
            </div>
            <div class="item-box">
              <i
                class="fa-solid fa-indian-rupee-sign"
                style="font-size: 2rem; color: #3d088b"
                aria-hidden="true"
              ></i>
              <div>
                <h5>30 Lac</h5>
                <p>Packages Upto</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Right side image part -->
        <div class="hero-image">
          <img src="../picture/heroImg.png" alt="Hero Image" />
        </div>
      </div>
    </section>
  </body>
</html>
