<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
    <link rel="stylesheet" href="/assets/navBar.css">
</head>
<body>
    <div class="navbar-container">
        <nav class="navbar">
            <div class="nav-logo">
                <img src="../picture/microsoft.png" alt="nav-logo-img">
            </div>
            <ul class="nav-list">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Courses</a></li>
                <li><a href="#">Placement</a></li>
            </ul>
            <div class="nav-buttons">
                <button class="signin-btn"><i class="fa-solid fa-right-to-bracket" style="margin-right: 5px;"></i>Sign Up / Sign In</button>
                <button class="explore-btn">Explore</button>
            </div>
        </nav>
    </div>
</body>
</html>
