


.footer {
    background-color: #0d0c30;
    padding: 3rem 1rem;
    color: white;
    text-align: left;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-logo {
    max-width: 300px;
    margin-bottom: 2rem;
}

.footer-logo img {
    margin-bottom: 1rem;
    width: 160px;
    height: 40px;
}

.footer-logo p {
    font-size: 0.9rem;
    line-height: 1.6;
}

.social-icons {
    margin-top: 1rem;
}

.social-icons a {
    margin-right: 10px;
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}

.social-icons a:hover {
    color: #fbb034;
}

.footer-links {
    margin-bottom: 2rem;
}

.footer-links h4 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: #ffffff;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 0.5rem;
}

.footer-links ul li a {
    text-decoration: none;
    color: #a9a9b5;
    font-size: 0.9rem;
}

.footer-links ul li a:hover {
    color: #fbb034;
}

.footer-bottom {
    text-align: center;
    padding: 1rem 0;
    border-top: 1px solid #1c1b3a;
    font-size: 0.9rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-logo, .footer-links {
        text-align: center;
    }

    .footer-links {
        margin-bottom: 1rem;
    }
}
